a{
            color: wheat;
            text-decoration: none;
            text-shadow: 1px 1px 1px #666;
        }
        body{
            color: white;
        }
     
      
#sub_container4{
            text-align: center;
            padding: 200px;
           
        }
        #sub_container4 .pg4 img{
            width: 300px;
            height: 200px;
            border: 5px solid #ccc;
        }
        #sub_container4 .pg4{
            padding: 30px;
            text-align: center;
            display: inline-block;
        }
        #sub_container4 a img:hover{
    box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
    transform:scale(1.2,1.2);
    transition: 0.4s;
}
        #index_box4{
            float: right;
        }
        .index_ab4{
          
        }
        
        i{
            font-size: 40px;
        }
